@model Lombiq.JsonEditor.Settings.JsonFieldSettings

@{
    var json = Model.JsonEditorOptions;
    if (string.IsNullOrEmpty(json))
    {
        var options = new JsonEditorOptions
        {
            Templates = new[]
            {
                new JsonEditorTemplate
                {
                    Field = "A technical name that has to be unique.",
                    Text = "The template's name in the dropdown.",
                    Title = "The tooltip text.",
                    Value = new { YourObject = "goes here" },
                },
            },
        };
        json = JsonConvert.SerializeObject(options);
    }
}

<div class="form-group">
    <json-editor json="@json" name="@Html.NameFor(model => model.JsonEditorOptions)"></json-editor>
</div>
